{% extends 'runoApp/base.html' %}
{% load static %}
<head>
</head>
{% block page_content %}
<body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <a class="navbar-brand" href="{% url 'runoUusi' %}">Tee Uusi Runo</a>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
	        </button>
        </div>
	</nav>


    <div class="jumbotron">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner center shadow">
                    <div class="carousel-item active">
                        <img src="{% static "images/afterclap.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/ambitchous.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/askhole.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/bedgasm.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/beerboarding.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/carcolepsy.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/cellfish.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/chairdrobe.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/columbusing.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/destinesia.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/doppelbanger.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/dudevorce.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/epiphanot.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/errorist.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/hiberdating.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/internest.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/masturdating.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/nerdjacking.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/nomonym.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/nonversation.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/textpectation.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/unkeyboardinated.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/unlightening.jpg" %}" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "images/youniverse.JPG" %}" class="img-fluid">
                    </div>

                </div>
                         <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

            </div>
    </div>

     <div class="container">
         <div class="card-columns">
        {% for runoDB in shelf %}
            <div class="card card-body shadow">
                <img class="rounded img-fluid" src="{% static "images/" %}{{ runoDB.picture }}">
                <h2 class="card-title">{{ runoDB.name  }}</h2>
                <p>{{ runoDB.caption }}</p>
                <p>{{ runoDB.author }}</p>
                <p>Onpa hieno (1-5): {{ runoDB.rate }}</p>
{#                <center>#}
{#                <a href="korjaa/{{runoDB.id}}" class="btn btn-outline-warning btn-sm" id = '{{runoDB.id}}'>Muuta</a>#}
{#                <a href="poista/{{runoDB.id}}" class="btn btn-outline-danger btn-sm" id = '{{runoDB.id}}'>Poista</a>#}
{#                </center>#}
            </div>
        {% endfor %}
         </div>
     </div>
{% endblock %}
</body>
